<!DOCTYPE html>

<html class="scroll-smooth">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link href="/css/dist/output.css" rel="stylesheet">*@
    <script src="https://cdn.tailwindcss.com"></script>

    @RenderSection("Scripts", required: false)
</head>
<body>
    <div>
        <div id="notification" class="fixed top-0 right-0 m-4">
            <partial name="_Notifications" />
        </div>
        @RenderBody()
    </div>

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>
