@model CustomerViewModel

<h1>Edit Customer Information</h1>

<form asp-controller="User" asp-action="Edit" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <div class="form-group">
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" type="text" class="form-control" id="FullName" name="FullName" value="@Model.FullName" required>
    </div>
    <div class="form-group">
        <label asp-for="Address" for="Address">Address</label>
        <input asp-for="Address" type="text" class="form-control" id="Address" name="Address" value="@Model.Address" required>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" required>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<form asp-controller="User" asp-action="DeleteCustomer" asp-route-id="@Model.CustomerId" method="post">
    <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-2 py-1.5 text-center inline-flex items-center mr-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
        Xoá khách hàng
    </button>
</form>

