@using Microsoft.AspNetCore.Mvc.ModelBinding
@model ProductViewModel

@{
    ViewData["Title"] = "Create Product Page";
    Layout = "_Layout";
}


<div class="p-3">
    <h1 class="font-bold text-center text-xl mb-5">TẠO MÓN ĂN</h1>
    <form asp-controller="Product" asp-action="CreateProduct" method="post" class="max-w-[500px] mx-auto" enctype="multipart/form-data">
        <div class="mb-6">
            <label asp-for="Name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên sản phẩm</label>
            <input asp-for="Name" type="text" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Name">
            <span asp-validation-for="Name" class="text-sm text-red-500"></span>
        </div>
        <div class="mb-6">
            <label for="categories" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Danh mục</label>
            <select id="categories" asp-for="CategoryId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                <option value="">Chọn một danh mục</option>
                @foreach (var category in Model.ListCategory)
                {
                    <option value="@category.CategoryId">@category.Name</option>
                }
                <span asp-validation-for="CategoryId" class="text-sm text-red-500"></span>
            </select>
        </div>
        <div class="mb-6">
            <label asp-for="SKU" class="block mb-2 text-sm font-medium text-gray-900">Mã sản phẩm</label>
            <input asp-for="SKU" type="text" id="SKU" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Sku">
            <span asp-validation-for="SKU" class="text-sm text-red-500"></span>           
        </div>
        <div class="mb-6">
            <label asp-for="Price" class="block mb-2 text-sm font-medium text-gray-900">Giá</label>
            <input asp-for="Price" type="text" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Price">
            <span asp-validation-for="Price" class="text-sm text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="ImagePath" class="block mb-2 text-sm font-medium text-gray-900" for="user_avatar">Tải tệp tin</label>
            <input asp-for="ImagePath" name="userFile" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none" type="file" accept=".jpg, .jpeg, .png">
            <span asp-validation-for="ImagePath" class="text-sm text-red-500"></span>
        </div>
        <div class="mb-6">
            <label asp-for="Description" class="block mb-2 text-sm font-medium text-gray-900">Mô tả</label>
            <textarea asp-for="Description" id="Description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Description..."></textarea>
            <span asp-validation-for="Description" class="text-sm text-red-500"></span>
        </div>
        <div class="space-y-5 md:space-y-0 md:space-x-10 flex flex-col md:flex-row items-center">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Tạo</button>
            <a asp-controller="Product" asp-action="Index" class="text-center hover:text-blue-500 hover:underline">Trở về</a>
        </div>
    </form>
</div>