@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Order Page";
    Layout = "_ProfileLayout";
}

<div class="p-4 rounded-lg bg-gray-50" id="change-password" role="tabpanel" aria-labelledby="change-password-tab">
    <form>
        <div class="relative z-0 w-full mb-6 group">
            <input type="password" name="floating_old_password" id="floating_old_password" class="rounded block py-2.5 px-3 w-full text-sm text-gray-900 bg-transparent border border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="floating_old_password" class="peer-focus:font-medium absolute px-3 text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mật khẩu cũ</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="password" name="floating_new_password" id="floating_new_password" class="rounded block py-2.5 px-3 w-full text-sm text-gray-900 bg-transparent border border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="floating_new_password" class="peer-focus:font-medium absolute text-sm text-gray-500 px-3 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Mật khẩu mới</label>
        </div>
        <div class="relative z-0 w-full mb-6 group">
            <input type="password" name="repeat_password" id="floating_repeat_password" class="rounded block py-2.5 px-3 w-full text-sm text-gray-900 bg-transparent border border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
            <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 px-3 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Xác nhận mật khẩu mới</label>
        </div>

        <button type="submit" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Đổi mật khẩu</button>
    </form>
</div>
