@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Feedback Page";

    Layout = "_HomeLayout";
}

<div class="max-w-screen-xl mx-auto">
    <div class="flex flex-col w-[500px] mx-auto">
        <h1 class="text-2xl font-bold text-center">We would like your feedback to improve our website</h1>
        <div class="w-full py-4 space-y-7 border-b-2">
            <p class="text-center text-gray-500">What is your opinion of this page?</p>
            <div class="flex items-center justify-between">
                <div>
                    <input type="radio" id="very-unhappy" name="feedback_opinion" value="very-unhappy" class="hidden peer" required>
                    <label for="very-unhappy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_very_dissatisfied
                        </span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="unhappy" name="feedback_opinion" value="unhappy" class="hidden peer" required>
                    <label for="unhappy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_dissatisfied
                        </span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="normal" name="feedback_opinion" value="normal" class="hidden peer" required>
                    <label for="normal" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_neutral
                        </span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="happy" name="feedback_opinion" value="happy" class="hidden peer" required>
                    <label for="happy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_satisfied
                        </span>
                    </label>
                </div>
                <div>
                    <input type="radio" id="very-happy" name="feedback_opinion" value="very-happy" class="hidden peer" required>
                    <label for="very-happy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_very_satisfied
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="w-full py-4 space-y-7 border-b-2">
            <p class="text-center text-gray-500">Please select your feedback category below.</p>
            <div class="flex items-center justify-between">
                <div>
                    <input type="radio" id="suggestion" name="feedback_category" value="suggestion" class="hidden peer" required>
                    <label for="suggestion" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        Suggestion
                    </label>
                </div>
                <div>
                    <input type="radio" id="issue" name="feedback_category" value="issue" class="hidden peer" required>
                    <label for="issue" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-600 peer-checked:text-red-600 hover:text-gray-600 hover:bg-red-100">
                        Something is not quite right
                    </label>
                </div>
                <div>
                    <input type="radio" id="compliment" name="feedback_category" value="compliment" class="hidden peer" required>
                    <label for="compliment" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:text-green-600 hover:text-gray-600 hover:bg-gray-100">
                        Compliment
                    </label>
                </div>
            </div>
        </div>
        <div class="w-full py-4 space-y-7">
            <p class="text-center text-gray-500">Please leave your feedback below.</p>
            <textarea rows="5" cols="50" class="border w-full">
            
            </textarea>
        </div>
        <div class="flex flex-col items-center space-y-5">
            <button type="submit" class="font-bold text-white bg-red-700 w-full px-3 py-2 border rounded-2xl">Gửi</button>
            <a asp-action="Index" asp-controller="Home" class="hover:underline">Quay về trang chủ</a>
        </div>
    </div>   

</div>
