@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor;

@model Feedback


@{
    ViewData["Title"] = "Feedback Page";

    Layout = "_HomeLayout";

    int customerId = 0;
    var userId = HttpContextAccessor.HttpContext.Session.GetString("userId");
    if (!string.IsNullOrEmpty(userId))
    {
        customerId = int.Parse(userId);
    }
}

<div class="mx-auto mt-20 px-4 max-w-xl">
    <form id="ProcessCheckoutForm" asp-controller="Home" asp-action="SendFeedback" method="post" class="flex flex-col w-auto mx-auto">
        <input type="hidden" asp-for="CustomerId" value="@customerId" />
        <h1 class="text-2xl font-bold text-center">Chúng tôi muốn nhận phản hồi của bạn để cải thiện website của chúng tôi</h1>
        <div class="w-full py-4 space-y-7 border-b-2">
            <p class="text-center text-gray-500">Bạn đánh giá như thế nào về trang này?</p>
            <div class="flex items-center justify-between">
                <div>
                    <input asp-for="OpinionState" type="radio" id="very-unhappy" name="OpinionState" value="very-unhappy" class="hidden peer" required>
                    <label asp-for="OpinionState" for="very-unhappy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_very_dissatisfied
                        </span>
                    </label>
                </div>
                <div>
                    <input asp-for="OpinionState" type="radio" id="unhappy" name="OpinionState" value="unhappy" class="hidden peer" required>
                    <label asp-for="OpinionState" for="unhappy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_dissatisfied
                        </span>
                    </label>
                </div>
                <div>
                    <input asp-for="OpinionState" type="radio" id="normal" name="OpinionState" value="normal" class="hidden peer" required>
                    <label asp-for="OpinionState" for="normal" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_neutral
                        </span>
                    </label>
                </div>
                <div>
                    <input asp-for="OpinionState" type="radio" id="happy" name="OpinionState" value="happy" class="hidden peer" required>
                    <label asp-for="OpinionState" for="happy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_satisfied
                        </span>
                    </label>
                </div>
                <div>
                    <input asp-for="OpinionState" type="radio" id="very-happy" name="OpinionState" value="very-happy" class="hidden peer" required>
                    <label asp-for="OpinionState" for="very-happy" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        <span class="material-icons" style="font-size: 48px;">
                            sentiment_very_satisfied
                        </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="w-full py-4 space-y-7 border-b-2">
            <p class="text-center text-gray-500">Vui lòng chọn danh mục phản hồi của bạn dưới đây.</p>
            <div class="flex items-center justify-between">
                <div>
                    <input asp-for="FeedbackCategory" type="radio" id="suggestion" name="FeedbackCategory" value="suggestion" class="hidden peer" required>
                    <label asp-for="FeedbackCategory" for="suggestion" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100">
                        Gợi ý
                    </label>
                </div>
                <div>
                    <input asp-for="FeedbackCategory" type="radio" id="issue" name="FeedbackCategory" value="issue" class="hidden peer" required>
                    <label asp-for="FeedbackCategory" for="issue" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-red-600 peer-checked:text-red-600 hover:text-gray-600 hover:bg-red-100">
                        Có vấn đề xảy ra
                    </label>
                </div>
                <div>
                    <input asp-for="FeedbackCategory" type="radio" id="compliment" name="FeedbackCategory" value="compliment" class="hidden peer" required>
                    <label asp-for="FeedbackCategory" for="compliment" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-green-600 peer-checked:text-green-600 hover:text-gray-600 hover:bg-gray-100">
                        Lời khen
                    </label>
                </div>
            </div>
        </div>
        <div class="w-full py-4 space-y-7">
            <input type="hidden" asp-for="Status" value="chưa đọc" />

            <p class="text-center text-gray-500">Vui lòng để lại phản hồi của bạn bên dưới.</p>
            <textarea asp-for="FeedbackMessage" rows="5" cols="50" class="border w-full rounded-lg p-3">
            
            </textarea>
        </div>
        <div class="flex flex-col items-center space-y-5">
            <button type="button" id="submitBtn" class="font-bold text-white bg-red-700 w-full px-3 py-2 border rounded-2xl">Gửi</button>
            <a asp-action="Index" asp-controller="Home" class="hover:underline">Quay về trang chủ</a>
        </div>
    </form>
</div>
<div id="confirmationPopup" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden z-40">
    <div class="bg-white p-5 rounded-lg">
        <h4 class="font-bold text-xl mb-3">Xác nhận gửi phản hồi</h4>
        <p class="mb-5">Bạn có chắc chắn muốn gửi phản hồi không?</p>
        <div class="flex justify-end">
            <button type="button" id="confirmBtn" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Xác nhận</button>
            <button type="button" id="cancelBtn" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">Huỷ</button>
        </div>
    </div>
</div>

<script>document.getElementById("cancelBtn").addEventListener("click", function () {
        document.getElementById("confirmationPopup").classList.add("hidden");
        // Perform your desired action here
    });

    document.getElementById("submitBtn").addEventListener("click", function () {
        document.getElementById("confirmationPopup").classList.remove("hidden");
    });

    document.getElementById("confirmBtn").addEventListener("click", function () {
        document.getElementById("confirmationPopup").classList.add("hidden");
        setTimeout(function () {
            document.getElementById("ProcessCheckoutForm").submit(); // Submit the form
        }, 100);
    });</script>
