@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "_HomeLayout";
}

<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
    <div class="absolute inset-0 -z-10 overflow-hidden">
        <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
            <defs>
                <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                    <path d="M100 200V.5M.5 .5H200" fill="none" />
                </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
            </svg>
        </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                    <p class="text-base font-semibold leading-7 text-red-700 uppercase">Chính sách</p>
                    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Các chính sách chúng tôi đưa ra thuận lợi cho đôi bên</h1>
                </div>
            </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-white shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem]" src="/assets/logo/feast-mansion-logo.png" alt="">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">                    
                    <ul role="list" class="mt-8 space-y-8 text-gray-600">
                        <li class="gap-x-3">
                            <div class="flex space-x-3 items-center">
                                <svg class="mt-1 h-5 w-5 flex-none text-red-700" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd" />
                                </svg>
                                <span><strong class="font-semibold text-gray-900">An toàn thông tin.</strong> </span>
                            </div>
                            <span>
                                Chúng tôi cam kết bảo mật thông tin cá nhân của khách hàng. Mọi thông tin cá nhân được thu thập như tên, địa chỉ, số điện thoại, địa chỉ email và thông tin thanh toán sẽ chỉ được sử dụng để xác nhận đơn hàng và cung cấp dịch vụ tốt nhất cho khách hàng. Chúng tôi không tiết lộ thông tin cá nhân của khách hàng cho bất kỳ bên thứ ba nào trừ khi có sự đồng ý rõ ràng của khách hàng hoặc theo yêu cầu pháp luật.                                .
                            </span>
                        </li>
                        <li class="gap-x-3">
                            <div class="flex space-x-3 items-center">
                                <span class="material-icons text-red-700">
                                    shopping_basket
                                </span>
                                <span><strong class="font-semibold text-gray-900">Chính sách Đặt hàng và Thanh toán.</strong> </span>
                            </div>
                            <span>Quy trình đặt hàng: Khách hàng có thể chọn sản phẩm, thêm vào giỏ hàng và hoàn tất quá trình đặt hàng thông qua trang web của chúng tôi. Để đảm bảo tính chính xác và chất lượng của đơn hàng, khách hàng nên cung cấp đầy đủ thông tin địa chỉ giao hàng và thông tin liên lạc.</span>
                            <br />
                            <br />
                            <span>Chúng tôi chỉ hỗ trợ phương thức thanh toán COD. Tất cả thông tin thanh toán sẽ được bảo mật và không được tiết lộ.</span>
                        </li>
                        <li class="gap-x-3">
                            <div class="flex space-x-3 items-center">
                                <span class="material-icons text-red-700">
                                    local_shipping
                                </span>
                                <span><strong class="font-semibold text-gray-900">Chính sách Giao hàng và Trả hàng.</strong></span>
                            </div>
                            <span>Giao hàng: Chúng tôi cam kết giao hàng nhanh chóng và đảm bảo sản phẩm đến tay khách hàng trong thời gian ngắn nhất. Chúng tôi sẽ liên hệ với khách hàng để xác nhận địa chỉ giao hàng và thời gian phù hợp. Phí vận chuyển có thể được áp dụng tùy thuộc vào vị trí giao hàng.</span>
                            <br />
                            <br />
                            <span>Hoàn tiền: Trong trường hợp khách hàng không hài lòng với món ăn nhận được hoặc có bất kỳ vấn đề nào liên quan đến chất lượng, chúng tôi sẽ hỗ trợ hoàn tiền theo quy định. Khách hàng cần liên hệ với chúng tôi trong vòng thời gian quy định để được hướng dẫn về quy trình hoàn tiền.</span>
                        </li>
                    </ul>
                    <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Thông tin liên hệ.</h2>
                    <div class="mt-6">
                        <p>Gọi qua số hotline: +84 123-456-789.</p>
                        <p>Mail: feast-mansion@@support.com.</p>
                        <p>Hoặc gửi <strong><a asp-controller="Home" asp-action="Feedback">Phản hồi</a></strong> tại đây</p>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
