<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/49f4bb06-eeaa-4c32-8622-33f7dade17fa/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/feast-mansion</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SEA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://feast-mansion.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://feast-mansion.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$feast-mansion</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>